{%extends 'base/base.html'%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {%block body%}
        <form method="post">{%csrf_token%}

                    {{form.username | as_crispy_field}}

                    {{form.password | as_crispy_field}}
                    <br><br>
                    <input type="submit" class="btn btn-success" value="Submit"/> <br><br>
                    <a href="{%url 'account:register'%}"><input type="button" class="btn btn-secondary" value="Have no account?"/></a>
        </form>
    {%endblock%}

</body>
</html>