{%extends 'base/base.html'%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {%block body%}
        <form method="post">{%csrf_token%}

                    {{form.login | as_crispy_field}} <br>


                    {{form.password | as_crispy_field}}
                    <br>
                    <input type="submit" class="btn btn-success" value="Login"/> <br><br>
                    <a href="{%url 'account_login'%}">No account? Login</a>
        </form>
    {%endblock%}

</body>
</html>