{%extends 'base/base.html'%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>
    {%block body%}
        <form method="post">{%csrf_token%}

                    {{form.email | as_crispy_field}}<br>

                    {{form.nick_name | as_crispy_field}}<br>
                    {{form.balance | as_crispy_field}} <br>

                    {{form.password1 | as_crispy_field}}<br>
                    {{form.password2 | as_crispy_field}}<br>

                    <br><input type="submit" class="btn btn-success" value="Register"/> <br>
        </form>
    {%endblock%}

</body>
</html>