{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History page</title>
</head>
<body>
{%block body%}
    <form id="msform">
        <fieldset>
            <h2>Title: {{object.title}}</h2><hr><br>
            <h4>Description: {{object.description}}</h4><hr><br>
            <h4>mount: {{object.mount}}$</h4><hr><br>
            <h4>action: {{object.action}}</h4><hr><br>
            <a href="{%url 'card:home'%}"><input type="button"  class="next action-button" value="Home"/></a>
        </fieldset>
    </form>
{%endblock%}
</body>
</html>