{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

    <body>

        {%block body%}
            <div class="container">
                    <h2>Hello  {{request.user.username}}.</h2>
                    <br><hr><br>
                    <h4>You have {{object_list}}$ in your card</h4>
                    <br><hr><br>
                    <a href="{%url 'card:update'%}"><input type="button"  class="btn btn-secondary" value="Add Transaction"/></a> 
                    <a href="{%url 'card:history'%}"><input type="button"  class="btn btn-secondary" value="Transaction History"/></a>
            </div>
        {%endblock%}
    </body>
</html>