{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History page</title>
</head>
<body>
{%block body%}
            <h2>Title: {{object.title}}</h2><hr><br>
            <h4>Description:</h4><p>{{object.description}}</p><hr><br>
            <h4>mount: {{object.amount}}$</h4><hr><br>
            <h4>action: {{object.action}}</h4><hr><br>
            <a href="{%url 'card:history'%}"><input type="button"  class="btn btn-secondary" value="Back"/></a>
            <a href="{%url 'card:home'%}"><input type="button"  class="btn btn-secondary" value="Home"/></a>
{%endblock%}
</body>
</html>