{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
{%block body%}
    <form id="msform">
            <h2 >History</h2><hr><br>

               {%for transaction in transactions%}
                    <ol>
                        <h5>
                            <li>
                                <a href="{%url 'card:detail' transaction.id transaction.token %}">
                                     {{transaction.title}}<br> </a>
                            </li>
                        </h5>
                        <br>
                    </ol>
                {% empty %}
                        <h5>There is no transaction here...</h5>
                {%endfor%}
            
            {% if is_paginated %}
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for object in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="{% url 'card:history' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {%endfor%}
                </ul>
              </nav>
            {%endif%}

        <br><a href="{%url 'card:home'%}"><input type="button"  class="btn btn-secondary" value="Home"/></a>
    </form>

{%endblock%}
</body>
</html>