{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <body>
        {%block body%}
            <div class="container">
                    <h2>Hello  {{request.user.email}}.</h2>
                    <br><hr><br>
                    <h4>Your Card Balance is {{balance}}$.</h4>
                    <br><hr><br>
                    <a href="{%url 'card:update'%}"><input type="button"  class="btn btn-secondary" value="Any changes?"/></a>
                    <a href="{%url 'card:history'%}"><input type="button"  class="btn btn-secondary" value="Transaction History"/></a>
            </div>
        {%endblock%}
</body>
</html>