{%extends 'base/base.html'%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>

</head>
<body>
    {%block body%}
    <form method="post">{% csrf_token %}

            {{form.amount | as_crispy_field}}
            <br><h5>Added or removed form card</h5>
            {{form.action}}
            <br><br>

            {{form.title  | as_crispy_field}}
            <br><br>
            {{form.description | as_crispy_field}}

            <br><input type="submit" value="Save" class="btn btn-success">
        </form>
    {%endblock%}

</body>
</html>