{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {%block body%}
        <form id="msform"  method="post">
                {%csrf_token%}
                <ul id="progressbar">
                    <a href="#">
                        <li class="active">Username</li>
                        <li>Password</li>
                        <li>Done</li>
                    </a>
                </ul>
                <fieldset>
                    <h2 class="fs-title">Enter Your username</h2>
                    {{form.username}}
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>

                <fieldset>
                    <h2 class="fs-title">Enter your password</h2>
                    {{form.password}}
                    <input type="submit" name="next" class="next action-button" value="Submit"/>
                    <input type="button" name="next" class="previous action-button" value="previous"/>
                </fieldset>
        </form>
    <script src="{% static 'account/js/main.js' %}"></script>
    {%endblock%}

</body>
</html>