{%extends 'base/base.html'%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>
    {%block body%}
        <form method="post">{%csrf_token%}

                    {{form.username | as_crispy_field}}<br>

                    {{form.first_name | as_crispy_field}}<br>
                    {{form.last_name | as_crispy_field}}<br>

                    {{form.password1 | as_crispy_field}}<br>
                    {{form.password2 | as_crispy_field}}<br>

                    <br><h6>How much money do you have in your card?</h6>
                    {{form.fund | as_crispy_field}}

                    <br><input type="submit" class="btn btn-success" value="Register"/> <br>
        </form>
    {%endblock%}

</body>
</html>