{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>
    {%block body%}
        <form id="msform"  method="post">
                        {%csrf_token%}
                <ul id="progressbar">
                    <a href="#">
                        <li class="active">Information</li>
                        <li>Money</li>
                        <li>Done</li>
                    </a>
                </ul>
                <fieldset>
                    <h2 class="fs-title">fill the form </h2>
                    <h3 class="fs-subtitle">Username</h3>
                    {{form.username}}
                    <h3 class="fs-subtitle">first name</h3>
                    {{form.first_name}}
                    <h3 class="fs-subtitle">last name</h3>
                    {{form.last_name}}
                    <input type="button" name="next" class="next action-button" value="Next"/>
                    <a href="{%url 'account:login'%}"><input type="button" class="next action-button" value="Login"/></a>
                </fieldset>

                <fieldset>
                    <h2 class="fs-title">confirm your password</h2>
                    <h3 class="fs-subtitle">password</h3>
                    {{form.password1}}
                    <h3 class="fs-subtitle">confirm your password</h3>
                    {{form.password2}}
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>

                <fieldset>
                    <h2 class="fs-title">Tell us how much money do you have</h2>
                    {{form.fund}}
                    <input type="submit" name="next" class="next action-button" value="Submit"/>
                    <input type="button" name="next" class="previous action-button" value="previous"/>
                </fieldset>
        </form>
    <script src="{% static 'account/js/main.js' %}"></script>
    {%endblock%}

</body>
</html>